#============================================================================
# Xcode
#============================================================================

*.xcodeproj/*.xcworkspace
*.xcodeproj/xcuserdata/

#============================================================================
# macOS / System Files
#============================================================================
.DS_Store
