<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>P</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>menu_item_title</string>
			</dict>
			<key>NSMessage</key>
			<string>replaceTextWithAPIResult</string>
		</dict>
	</array>
</dict>
</plist>
